<% content_for(:title, t('.title')) %>
<div class="container py-5">
  <br>
  <br>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col col-lg-10 mb-4 mb-lg-5">
      <h1 class><%= t('profiles.show.title')%></h1>
      <hr>
      <br>
      <div class="card mb-5" style="border-radius: .5rem;">
        <div class="row g-3">
          <div class="col-md-4 gradient-custom text-center text-black"
            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
            <%= image_tag current_user.avatar.url, class: 'rounded-circle', size: '50x50', alt: "Avatar", class: "img-fluid my-5", style: "width: 150px;" %>
            <i class><h5><%= current_user.name %></h5></i>
            <%= link_to edit_profile_path do %>
              <i class="bi bi-pencil-square"></i>
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body p-5">
              <h6><%= t('profiles.show.information')%></h6>
              <hr class="mt-0 mb-4">
              <div class="row pt-1">
                <div class="col-6 mb-4">
                  <h6><%= t('profiles.show.email')%></h6>
                  <p class="text-muted"><%= current_user.email %></p>
                </div>
                <div class="col-6 mb-4">
                  <h6><%= t('profiles.show.name')%></h6>
                  <p class="text-muted"><%= current_user.name %></p>
                </div>
              </div>
              <h6><%= t('profiles.show.introduction')%></h6>
              <hr class="mt-0 mb-4">
              <div class="row pt-1">
                <div class="col-6 mb-5">
                  <p class="text-muted"><%= current_user.introduction %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>