<% content_for(:title, t('.title')) %>
  <body class="flex-grow p-0">
    <div class="container">
      <br>
      <br>
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h1 class="card-title text-center mb-5 fw-light fs-2"><%= t '.title' %></h1>
              <%= form_with model: @user, url: password_reset_path(@token), local: true do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                <div class="form-floating mb-4">
                  <%= f.email_field :email, class: 'form-control', placeholder: 'Email', id: 'floatingEmail' %>
                  <%= f.label :email %>
                </div>
                <div class="form-floating mb-4">
                  <%= f.password_field :password, class: 'form-control', placeholder: 'Password', id: 'floatingPassword' %>
                  <%= f.label :password_reset%>
                </div>
                <div class="form-floating mb-5">
                  <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password確認用', id: 'floatingPassword_Confirmation' %>
                  <%= f.label :password_reset_confirmation %>
                </div>
                <div class='d-grid mb-2'>
                  <%= f.submit (t'defaults.password_update'), class: 'btn btn-secondary btn-lg fw-bold' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </body>