<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <div class="d-flex align-items-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">
            <%= image_tag current_user.avatar_url, size: '50x50', class: 'rounded-circle mr15'%>
            <%= current_user.name%>
          </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= (t'konwledges.show.title')%>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to (t'konwledges.show.show'), konwledge_path, class: 'dropdown-item' %></li>
                <li><%= link_to (t'konwledges.show.history'), history_konwledge_path, class: 'dropdown-item' %></li>
                <li><%= link_to (t'konwledges.show.whiskeys'), whiskeys_konwledge_path, class: 'dropdown-item' %></li>
                <li><%= link_to (t'konwledges.show.countries'), countries_konwledge_path, class: 'dropdown-item' %></li>
                <li><%= link_to (t'konwledges.show.how_to_drink'), how_to_drink_konwledge_path, class: 'dropdown-item' %></li>
                <!--hr class="dropdown-divider"-->
              </ul>
            </li>
            <li class="nav-item">
              <%= link_to (t'posts.index.title'), posts_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to (t'posts.new.title'), new_post_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to (t'posts.bookmarks.title'), bookmarks_posts_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                マイページ
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to (t'profiles.show.title'), profile_path, class: 'dropdown-item' %></li>
                <li><%= link_to (t'profiles.edit.title'), edit_profile_path, class: 'dropdown-item' %></li>
                <!--hr class="dropdown-divider"-->
              </ul>
            </li>
            <li class="nav-item">
              <%= link_to (t'defaults.logout'), logout_path, class: "nav-link", method: :delete %>
            </li>
          </ul>
          <!--form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="検索..." aria-label="検索...">
            <button class="btn btn-outline-success flex-shrink-0" type="submit">検索</button>
          </form-->
        </div>
      </div>
    </div>
  </div>
</nav>
