<header>
  <nav class="navbar navbar-expand-lg navbar-light text-dark bg-dark">

    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item">
          <%= link_to (t'studies.show.title'), '#', class: 'nav-link text-white' %>
        </li>

        <li class="nav-item dropdown dropdown-slide">
          <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            投稿
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to (t'posts.index.title'), posts_path, class: 'dropdown-item' %>
            <%= link_to (t'posts.new.title'), new_post_path, class: 'dropdown-item' %>
          </div>
        </li>

        <li class="nav-item">
          <%= link_to (t'posts.bookmarks.title'), '#', class: 'nav-link text-white' %>
        </li>

        <li class="nav-item">
          <%= link_to (t'profiles.show.title'), '#', class: 'nav-link text-white' %>
        </li>

        <li class="nav-item">
          <%= link_to (t'defaults.logout'), logout_path, class: 'nav-link text-white', method: :delete %>
        </li>
      </ul>
    </div>
  </nav>
</header>