<div class="container-fluid whiskey-show">
  <div class="container py-4">
    <h1 class="my-6 text-center text-white"> ウイスキーについて</h1>
  </div>
  <!-- Project One -->
  <div class="row">
    <div class="col-md-9 mx-auto">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <%= image_tag 'product.png', size: '30x30' %>　ウイスキーの工程
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>
                ■ウイスキーの定義には、主に「原料」「製法」「熟成方法」などで定めがある。<br>
                　・原料に大麦やライ麦、トウモロコシといった「穀類」を使っていること<br>
                　・糖化、発酵、蒸溜を行って造った「蒸溜酒」であること<br>
                　・木製の樽に貯蔵して、熟成させていること
              </strong>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <%= image_tag 'water.png', size: '30x30' %>　ウイスキーの5大要素(水)
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>
                ■ウイスキー造りに使われる水のことを「仕込み水」と言われる。<br>
                　・ミネラルがバランスよく含まれている水で仕込むことで、酵母の働きが活発になり美味しいウイスキーに仕上る。<br>
                　・硬水/軟水でもウイスキーの風味が変わるため、蒸溜所を新設する際には理想的な水源（取水地）を探すことが大切。
              </strong>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              <%= image_tag 'grain.png', size: '30x30' %>　ウイスキーの5大要素(原材料)
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>
                ■原料の種類や質、収穫地などでウイスキーの風味、色合いが大きく変わる。<br>
                　・モルトウイスキー：大麦を発芽させた大麦麦芽のこと。<br>
                　・グレーン/バーボンウイスキー：トウモロコシや小麦、大麦、ライ麦などのこと。
              </strong>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <%= image_tag 'peat.png', size: '30x30' %>　ウイスキーの5大要素(ピート)
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>
                ■ピートとは、モルトウイスキーを醸造する工程において、大麦麦芽を乾燥させるのに使われる泥炭のこと。<br>
                　・ピートを使用することで、ウイスキーの風味に「スモーキー感」を加えることができ、より芳醇な香りになる。<br>
                　・ジャパニーズウイスキーでは、ピートを使うスコッチウイスキーのルーツを持っているため、よく使われている。
              </strong>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <%= image_tag 'pot_still.png', size: '30x30' %>　<%= image_tag 'column_still.png', size: '40x40' %>　ウイスキーの5大要素(蒸留器)
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>
                ■蒸留器の種類や蒸留方法が変われば、ウイスキーの風味も変わってくる。<br>
                　・単式蒸留器：一度ずつしか蒸留できないが、原材料の風味を最大限に活かした個性的なウイスキーに仕上がる。<br>
                　・連続蒸留器：連続的に蒸留ができ、口当たりが良く、且つ軽快で飲みやすいウイスキーに仕上がる。
              </strong>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <%= image_tag 'barrels.png', size: '30x30' %>　ウイスキーの5大要素(熟成樽)
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>
                ■ウイスキーは熟成樽にて長期熟成させることで琥珀色に色付き、樽由来の風味をウイスキーに付与することができる。<br>
                　・樽の材質、樽の内側の焦がし具合、既に使われたお酒の樽を使うことで、より多彩なウイスキーが生み出される。
              </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btnbar" role="toolbar" aria-label="ボタングループのツールバー">
    <p class>
      <div class="btn-group me-2" role="group" aria-label="第一グループ">
        <%= link_to '前へ', how_to_drink_konwledge_path, class: 'btn btn-secondary btn-lg text-white' %>
      </div>
      <div class="btn-group me-2" role="group" aria-label="第二グループ">
        <%= link_to '次へ', history_konwledge_path, class: 'btn btn-primary btn-lg text-white' %>
      </div>
    </p>
  </div>
</div>