<%= form_with model: post, local: true do |f| %>
  <div class="row g-4">
    <div class="col-md-8">
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :whiskey_brand %>
        <%= f.text_field :whiskey_brand, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: 'form-control', rows: 10 %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, class: 'form-control' %>
      </div>
      <br>
      <div class="form-group">
        <%= f.fields_for :countries, post.countries do |country| %>
          <%= country.label :name %>
          <%= country.select :name, Post.countries_i18n.invert, {}, class: 'form-select' %>
        <% end %>
      </div>
      <br>
      <div class="form-group">
        <%= f.fields_for :whiskey_types, post.whiskey_types do |whiskey_type| %>
          <%= whiskey_type.label :name %>
          <%= whiskey_type.select :name, Post.whiskey_types_i18n.invert, {}, class: 'form-select' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :post_image %>
        <%= f.file_field :post_image, class: 'form-control mb-3', accept: 'image/*' %>
        <%= f.hidden_field :post_image_cache %>
      </div>
    </div>
    <%= f.submit class: 'btn btn-primary btn-lg' %>
  </div>
  <br>
<% end %>



  

