<div class="container">
  <div id="post-id-<%= post.id %>">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag post.post_image_url, class: 'card-img-top', size: '700x300' %>
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to post.title, post_path(post) %>
          </h4>
          <p class="card-text">
            <%= icon 'far', 'user' %>
            <!-- post.user.nameでユーザーネームを定義する-->
            <%= post.user.name %>
          </p>
          <p class="card-text">
            <%= icon 'far', 'calendar' %>
            <%= l post.created_at, format: :long %>
          </p>
          <p class="card-text">
            <% post.whiskey_types.each do |whiskey_type| %>
              <%# binding.pry %> 
              <i class="bi bi-bricks"></i>
              <%= whiskey_type.name %>
            <% end %> 
          </p>
          <p class="card-text">
            <% post.countries.each do |country| %>
                <%# binding.pry %> 
                <i class="bi bi-globe-asia-australia"></i>
                <%= country.name %>
            <% end %> 
          </p>
          <p class="card-text">
            <i class="bi bi-cash-coin"></i>
            <%= post.price %>
          </p>
          <% if current_user.own?(post) %>
            <%= render 'crud_menus', post: post %>
          <% else %>
            <%= render 'bookmark_button', post: post  %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>