<div class="col-sm-12 col-lg-4 mb-3">
  <div id="post-id-<%= post.id %>">
    <div class="col">
      <div class="card shadow-sm">
        <a><%= image_tag post.post_image_url, class: 'card-img-top', size: '700x300' %></a>
        <div class="card-body">
          <h3 class="card-title">
            <%= link_to post.title, post_path(post) %>
          </h3>
          <hr class="card-divider">
          <p class="card-text">
            <i class="bi bi-person-video"></i>
            <!-- post.user.nameでユーザーネームを定義する-->
            <%= post.user.name %>
          </p>
          <p class="card-text">
            <i class="bi bi-calendar2-week"></i>
            <%= l post.created_at, format: :long %>
          </p>
          <p class="card-text">
            <% post.whiskey_types.each do |whiskey_type| %>
              <%# binding.pry %> 
              <i class="bi bi-bricks"></i>
              <%= whiskey_type.name %>
            <% end %> 
          </p>
          <p class="card-text">
            <% post.countries.each do |country| %>
                <%# binding.pry %> 
                <i class="bi bi-globe-asia-australia"></i>
                <%= country.name %>
            <% end %> 
          </p>
          <p class="card-text">
            <i class="bi bi-currency-yen"></i>
            <%= post.price %>
            <% if current_user.own?(post) %>
              <%= render 'crud_menus', post: post %>
            <% else %>
              <%= render 'bookmark_button', post: post  %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>