<% content_for(:title, t('.title')) %>
<main class="flex-grow p-0">
  <div class="container">
    <!-- Portfolio Item Heading -->
    <br>
    <h1 class="my-4"><%= t('.title') %></h1>
    <!-- Portfolio Item Row -->
    <div class="row">
      <div class="col-md-6">
        <%= image_tag @post.post_image_url, class: 'card-img-top', size: '700x355' %>
      </div>
      <div class="col-lg-6">
        <div class="card mb-3 mb-lg-0">
          <div class="card-body">
            <h5 class="my-0 bi bi-pencil-fill"> <%= @post.title %></h5>
            <hr>
            <h5 class="my-0 bi bi-chat-square-text-fill"> <%= @post.body %></h5>
            <hr>
            <h4 class="my-3"><%= t('.category')%></h4>

            <p class="bi bi-trash2-fill"> <%= @post.whiskey_brand %></p>

            <% @post.whiskey_types.each do |whiskey_type| %>
              <p class="bi bi-bricks"> <%= whiskey_type.name %></p>
            <% end %>

            <% @post.countries.each do |country| %>
              <p class="bi bi-globe-asia-australia"> <%= country.name %></p>
            <% end %> 

            <p class="bi bi-currency-yen">
              <%= @post.price %>
              <!--%= render 'crud_menus', post: @post if current_user.own?(@post) %-->
              <% if current_user.own?(@post) %>
              　　　　　　　　　　　　　　　　　　　　　　　
                <%= render 'crud_menus', post: @post %>
              <% else %>
              　　　　　　　　　　　　　　　　　　　　　　　　　
                <%= render 'bookmark_button', post: @post %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <h3 class="my-4">コメント</h3> 
    <!-- コメントフォーム -->
    <%= render 'comments/form', { post: @post, comment: @comment } %>
    <!-- コメントエリア -->
    <%= render 'comments/comments', { comments: @comments } %>
  </div>
</main>